.center
{
    background-color: rgb(58, 58, 58);
    width: 300px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius:20px;
    box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    color: white;
    font-family: 'Roboto', sans-serif;
    }
    input[type=text]
    {
    width: 300px;
    background-color: #efefef;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline:none;
    margin-top: 10px;
    }
    input[type=text]:focus
    {
    border: 2px solid #a8e601;
    background-color: #d6e9bd;
    color: #000000;
    }
    textarea
    {
    width: 300px;
    background-color: #efefef;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline:none;
    margin-top: 10px;
    }
    textarea:focus
    {
    border: 2px solid #12464e;
    background-color: #e9f3e9;
    color: #e7e56a;
    }
    input[type=submit],
    input[type=reset]
    {
    width: 300px;
    background-color: #d5eb58;
    font-size:20px;
    color: white;
    padding: 15px 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px 0px rgb(141, 139, 139);
    color: black;
    font-family: 'Roboto', sans-serif;
    }
    input[type=submit]:hover,
    input[type=reset]:hover
    {
    background-color: #f0fd7a;
    }
    